<div>
  <div>
    <p>
      Your Email: <%= @user.email %> | Your User Type: <%= @user.user_type %>
    </p>
  </div>

  <% if @user.user_type == "organization" %>
    <div>
      <% if @user.has_org? %>
        <h3>Your Organization</h3>

        <div>
          <p><%= @user_org.org_name %></p>
          <p><%= @user_org.org_description %></p>
          <p><%= @user_org.org_address %></p>
          <p><%= @user_org.org_city %></p>
          <p><%= @user_org.org_state %></p>
          <p><%= link_to 'View Your Shifts', organization_path(@user_org.id) %></p>
          <p><%= link_to 'Edit Org', edit_organization_path(@user_org.id) %></p>
        </div>
      <% else %>
        <p>You need to create an Organization</p>
        <p><%= link_to 'Create Organization', new_organization_path %></p>
      <% end %>
    </div>
  <% else %>
    <div>
      <% if @user.worker? %>
        <h3>Your Worker Account Details</h3>

        <div>
          <p><%= @user.worker_account.first_name %></p>
          <p><%= @user.worker_account.last_name %></p>
          <p><%= @user.worker_account.worker_city %></p>
          <p><%= @user.worker_account.worker_state %></p>
          <p><%= link_to 'View Your Assigned Shifts', worker_path(@user.worker_account.id) %></p>
          <p><%= link_to 'View All Shifts', shifts_path %></p>
          <p><%= link_to 'Edit Worker Account', edit_worker_path(@user.worker_account.id) %></p>
        </div>
      <% else %>
        <p>You need to create a Worker Account</p>
        <p><%= link_to 'Create Worker Account', new_worker_path %></p>
      <% end %>
    </div>
  <% end %>
</div>