<div class="container bg-light p-5">


  <div>
    <div class="workers-form px-5 py-3 border">
          <%= form_with(model: @worker, local: true) do |f| %>
            <h1 class="text-center pb-3">Edit Workers Account</h1>

      <div class="row workers-field py-2">
        <%= f.label :first_name, :class => "col-12 col-md-4 col-lg-2" %>
      <%= f.text_field :first_name, :class => "col-12 col-md-8 col-lg-10 mx-auto" %>
   </div>

     <div class="row workers-field py-2">
      <%= f.label :last_name, :class => "col-12 col-md-4 col-lg-2" %>
      <%= f.text_field :last_name, :class => "col-12 col-md-8 col-lg-10 mx-auto" %>
   </div>

      <div class="row workers-field py-2">
      <%= f.label :worker_city, :class => "col-12 col-md-4 col-lg-2" %>
      <%= f.text_field :worker_city, :class => "col-12 col-md-8 col-lg-10 mx-auto" %>
   </div>

      <div class="row workers-field py-2">
        <%= f.label :worker_state, :class => "col-12 col-md-4 col-lg-2" %>
        <%= f.text_field :worker_state, :class => "col-12 col-md-8 col-lg-10 mx-auto" %>
      </div> 
      
      <div class="row workers-field py-2">
        <%= f.label :bio, :class => "col-12 col-md-4 col-lg-2" %>
        <%= f.text_field :bio, :class => "col-12 col-md-8 col-lg-10 mx-auto" %>
      </div>
      <div class="row workers-field py-3">
      <%= f.submit "Update Account", :class => "col-auto mx-auto btn btn-primary" %>
         </div>  
    <% end %>
  </div>
</div>
</div>