<h3>Page Showing All Your Shifts</h3>

<% @worker_shifts.each do |shift| %>
  <p>Organization Name: <%= shift.shift_org_name %></p>
  <p>Shift Status: <% if shift.shift_open %>OPEN<% else %>Filled<% end %></td>
  <p>Shift Role: <%= shift.shift_role %></p>
  <p>Shift Description: <%= shift.shift_description %></p>
  <p>Shift Start: <%= shift.shift_start.httpdate %></p>
  <p>Shift End: <%= shift.shift_end.httpdate %></p>
  <td>Shift Pay: <%= shift.shift_pay %></td>
  <% if current_user.worker? && Time.current < shift.shift_start %>
    <p>
      <%= link_to 'Drop Shift', drop_shift_path(shift), method: :put, data: { confirm: 'You are about to DROP this shift. Proceed?' } %>
    </p>
  <% end %>
  <hr />
<% end %>