<div class="container bg-light p-5">
    <h1>Create Organization</h1>

    <div>
        <%= form_with(model: @organization, local: true) do |f| %>
            <div class="form-group">
                <%= f.label :org_name, class: "col-form-label" %>
                <%= f.text_field :org_name, class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.label :org_address, class: "col-form-label" %>
                <%= f.text_field :org_address, class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.label :org_city, class: "col-form-label" %>
                <%= f.text_field :org_city, class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.label :org_state, class: "col-form-label" %>
                <%= f.text_field :org_state, class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.label :org_description, class: "col-form-label" %>
                <%= f.text_area :org_description, class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.submit "Create Organization", class: "btn btn-primary" %>
            <% end %>
        </div>
    </div>
    </div>
</div>