<div class="container-fluid p-5">
<% if @org_shifts %>
  <h3>Your Shifts</h3>

   <p><%= link_to "Create Shift", new_shift_path, class: "btn btn-primary" %></p>

    <div class="row container-fluid mr-0">
        <% @org_shifts.each do |shift| %>
            <div class="shift col-12 col-lg-6 col-xl-4 my-2 pl-0">
                <div class="border bg-light p-4">
                    <h3 class="text-info mb-4"><%= shift.shift_role %></h3>
                    <div class="row mb-3">
                        <div class="col-5 font-weight-bold">Shift Starts</div>
                        <div class="col-7"><%= shift.shift_start.httpdate %></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-5 font-weight-bold">Shift Ends</div>
                        <div class="col-7"><%= shift.shift_end.httpdate %></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-5 font-weight-bold">Pay Rate</div>
                        <div class="col-7"><%= shift.shift_pay %></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-5 font-weight-bold">Description</div>
                        <div class="col-7"><%= shift.shift_description %></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-5 font-weight-bold">Shift Status</div>
                        <div class="col-7"><% if shift.shift_open %>Open<% else %>Filled<% end %></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-5 font-weight-bold">Shift Worker</div>
                        <div class="col-7"><% unless shift.shift_open %>Worker Name<% end %></div>
                    </div>
                    <div class="text-right">
                        <% if shift.shift_open %><%= link_to "Edit", edit_shift_path(shift.id), class: "btn" %> <% end %>
                        <%= link_to "Delete", shift_path(shift.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn" %>
                                    
                </div>
            </div>
        <% end %>
    </div> 
<% else %>

  <div class="card m-auto">
    <h3 class="card-header"><%= @organization_bio.org_name %></h3>
    <div class="card-block">
        <div class="row">
            <div class="col-4">
            <ul class="list-group list-group-flush">
            <li class="list-group-item border-white"><b>Address </b></li>
            <li class="list-group-item border-white"><b>City </b></li>
            <li class="list-group-item border-white"><b>State </b></li>
            <li class="list-group-item border-white"><b>Description </b></li>
            </ul>   
            </div>
            <div class="col-8">
            <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= @organization_bio.org_address %></li>
            <li class="list-group-item"><%= @organization_bio.org_city %></li>
            <li class="list-group-item"><%= @organization_bio.org_state %></li>
            <li class="list-group-item"><%= @organization_bio.org_description %></li>
            </ul>
            </div>
        </div>
    </div>
  </div>
<% end %>
</div>