<nav>
  <div>
    <div>
      <%= link_to "Welcome", root_path, class: "mx-2" %>
    </div>
    <% if logged_in? %>
      <ul>
      <li><%= link_to "View Profile", user_path(current_user) %></li> 
      <li><%= link_to "Edit Account", edit_user_path(current_user) %></li> 
      <li><%= link_to "Log out", logout_path, method: :delete %></li> 
      </ul>
    <% else %>
      <ul>
        <li><%= link_to "Log in", login_path %></li> 
        <li><%= link_to "Sign up", new_user_path %></li>
      </ul>
    <% end %>
  </div>
</nav>